{% extends 'admin/master.html' %}
<div class="mt-4">
	{% block body %} {% if current_user.is_authenticated and current_user.is_admin %}
	<div class="jumbotron">
		<h1 class="display-5">Welcome to eStory Administrator Dashboard</h1>
		<p class="lead">Manage your courses, users, orders, and more from here.</p>
		<hr class="my-4" />
		<p>Use the navigation bar to access different sections.</p>
		<a
			class="btn btn-primary"
			href=""
			role="button"
			>Statistics Dashboard</a
		>
	</div>

	<div class="row">
		<div class="col-6">
			<table class="table table-hover table-bordered">
				<caption>
					Statistical of the number of courses by category
				</caption>
				<thead class="bg-primary">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Amount</th>
					</tr>
				</thead>
				<tbody>
					{% for c in categories %}
					<tr class="table-light">
						<td>{{c[0] }}</td>
						<td>{{c[1] }}</td>
						<td>{{c[2] }}</td>
					</tr>
					{% endfor%}
					<tr class="table-light">
						<th colspan="2">Total</th>
						<td>{{total_courses}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-6">
			<table class="table table-hover table-bordered">
				<caption>
					Statistical of the number of courses by category
				</caption>
				<thead class="bg-primary">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Amount</th>
					</tr>
				</thead>
				<!-- <tbody>
					{% for c in categories %}
					<tr class="table-light">
						<td>{{c[0] }}</td>
						<td>{{c[1] }}</td>
						<td>{{c[2] }}</td>
					</tr>
					{% endfor%}
					<tr class="table-light">
						<th colspan="2">Total</th>
						<td>{{total_courses}}</td>
					</tr>
				</tbody> -->
			</table>
		</div>
	</div>
	{% else %}
	<div class="d-flex justify-content-center">
		<div class="col-md-6 mt-4">
			<h1 class="fw-bold text-center">Log In</h1>
			<form
				method="POST"
				action="{{ url_for('auth_admin') }}">
				<div class="form-group">
					<label for="email">Email</label>
					<input
						type="email"
						class="form-control"
						id="email"
						name="email"
						aria-describedby="emailHelpBlock"
						required />
					<small
						id="emailHelpBlock"
						class="form-text text-muted">
						Your email address will be used for authentication
						and communication purposes.
					</small>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input
						type="password"
						class="form-control"
						id="password"
						name="password"
						aria-describedby="passwordHelpBlock"
						required />
					<small
						id="passwordHelpBlock"
						class="form-text text-muted">
						Your password must be 8-20 characters long, contain
						letters and numbers, and must not contain spaces,
						special characters, or emoji.
					</small>
				</div>
				<button
					type="submit"
					class="btn btn-primary">
					Log In
				</button>
			</form>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}